BasedOnStyle: Mozilla
IndentWidth: 4
BinPackParameters: false
BinPackArguments: true
AlignAfterOpenBracket: true
PenaltyBreakBeforeFirstCallParameter: 100
PointerAlignment: Left
SpaceAfterCStyleCast: true
BreakBeforeBinaryOperators: All
