m4/
*.gcno
*.gcda
*.o
*.lo
*.la
*.bak
.deps
.libs
*~
._*
seed.info
.DS_Store
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.in.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/conventions.html
doc/mapping.html
doc/modules/Makefile
doc/modules/Makefile.in
doc/modules/canvas.html
doc/modules/multiprocessing.html
doc/modules/readline.html
doc/modules/sqlite.html
doc/modules/html
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/html-build.stamp
doc/reference/html.stamp
doc/reference/html/ch01.html
doc/reference/html/home.png
doc/reference/html/index.sgml
doc/reference/html/left.png
doc/reference/html/right.png
doc/reference/html/seed-seed.html
doc/reference/html/seed.devhelp
doc/reference/html/seed.devhelp2
doc/reference/html/style.css
doc/reference/html/up.png
doc/reference/scan-build.stamp
doc/reference/seed-decl-list.txt
doc/reference/seed-decl.txt
doc/reference/seed-undeclared.txt
doc/reference/seed-undocumented.txt
doc/reference/seed-unused.txt
doc/reference/seed.args
doc/reference/seed.hierarchy
doc/reference/seed.interfaces
doc/reference/seed.prerequisites
doc/reference/seed.signals
doc/reference/sgml-build.stamp
doc/reference/sgml.stamp
doc/reference/tmpl-build.stamp
doc/reference/tmpl.stamp
doc/reference/tmpl/seed-unused.sgml
doc/reference/xml/seed-eval.xml
doc/reference/xml/seed-jsclass.xml
doc/reference/xml/seed-modules.xml
doc/reference/xml/seed-nativefuncs.xml
doc/reference/xml/seed-nativetypes.xml
doc/reference/xml/seed-typeconversion.xml
doc/reference/xml/api-index-deprecated.xml
doc/reference/xml/api-index-full.xml
doc/reference/xml/object_index.sgml
doc/reference/xml/seed-builtins.xml
doc/reference/xml/seed-closure.xml
doc/reference/xml/seed-exception.xml
doc/reference/xml/seed-string.xml
doc/reference/xml/seed-debug.xml
doc/reference/xml/seed-doc.bottom
doc/reference/xml/seed-doc.top
doc/reference/xml/seed-engine.xml
doc/reference/xml/seed-exceptions.xml
doc/reference/xml/seed-gtype.xml
doc/reference/xml/seed-private.xml
doc/reference/xml/seed-signals.xml
doc/reference/xml/seed-structs.xml
doc/reference/xml/seed-types.xml
doc/reference/xml/seed.xml
doc/reference/xml/tree_index.sgml
doc/runtime.html
doc/tutorial-standalone/Makefile
doc/tutorial-standalone/Makefile.in
doc/tutorial-standalone/tutorial.html
examples/Makefile
examples/Makefile.in
examples/browser/Makefile
examples/browser/Makefile.in
examples/clutter-shader/Makefile
examples/clutter-shader/Makefile.in
examples/clutter-transitions/Makefile
examples/clutter-transitions/Makefile.in
examples/glib/Makefile
examples/glib/Makefile.in
examples/opengl/Makefile
examples/opengl/Makefile.in
examples/turtle/Makefile
examples/turtle/Makefile.in
examples/turtle/seed_turtle
examples/twitter/Makefile
examples/twitter/Makefile.in
jsextensions/Makefile
jsextensions/Makefile.in
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libseed/Makefile
libseed/Makefile.in
libseed/seed-builtins.c.orig
libtool
ltmain.sh
m4/gtk-doc.m4
missing
mkinstalldirs
modules/Makefile
modules/Makefile.in
modules/Multiprocessing/Makefile
modules/Multiprocessing/Makefile.in
modules/canvas/Makefile
modules/canvas/Makefile.in
modules/example/Makefile
modules/example/Makefile.in
modules/readline/Makefile
modules/readline/Makefile.in
modules/sqlite/Makefile
modules/sqlite/Makefile.in
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
seed.pc
src/Makefile
src/Makefile.in
src/seed
stamp-h1
tests/Makefile
tests/Makefile.in
tests/c/Makefile
tests/c/Makefile.in
tests/c/test
tests/javascript/Makefile
tests/javascript/Makefile.in
doc/reference/html/seed-SeedException.html
doc/reference/html/seed-SeedString.html
doc/reference/html/seed-SeedValue.html
doc/reference/xml/seed-value.xml
doc/reference/tmpl/seed.sgml.sgml
libseed/libseed_la-seed-api.gcno
libseed/libseed_la-seed-builtins.gcno
libseed/libseed_la-seed-closure.gcno
libseed/libseed_la-seed-engine.gcno
libseed/libseed_la-seed-exceptions.gcno
libseed/libseed_la-seed-gtype.gcno
libseed/libseed_la-seed-importer.gcno
libseed/libseed_la-seed-signals.gcno
libseed/libseed_la-seed-structs.gcno
libseed/libseed_la-seed-types.gcno
omf.make
scripts/shave
scripts/shave-libtool
src/main.gcda
src/main.gcno
xmldocs.make

.AppleDouble
doc/index.html
doc/html.stamp
doc/mapping/mapping.html
doc/modules/canvas/canvas.html
doc/modules/gtkbuilder/gtkbuilder-funcs.xml
doc/modules/multiprocessing/multiprocessing.html
doc/modules/readline/readline-funcs.xml
doc/modules/sandbox/sandbox-funcs.xml
doc/modules/sqlite/sqlite-funcs.xml
doc/reference/html/
doc/reference/xml/seed-context.xml
doc/reference/xml/seed-main.xml
doc/reference/xml/seed-object.xml
examples/same-seed/
jsextensions/._Seed.js
jsextensions/._Seed.js.in
jsextensions/Seed.js
libseed/._seed-builtins.c
libseed/._seed-engine.c
libseed/._seed-exceptions.c
libseed/._seed-types.c
libseed/._seed-types.h
libseed/seed-path.h
modules/cairo/._seed-cairo.c
modules/gettext/._gettext.c
po/Makefile.in.in

version.xml
/compile_commands.json
/.ycm_extra_conf.pyc

jsextensions/libseed-resources.c
libgjs-private/GjsPrivate-1.0.gir
libgjs-private/GjsPrivate-1.0.typelib
